

{% with user=action.user profile=action.user.profile %}
<div class="action">
	<div class="images">
		{% if action.target %}
			{% with target=action.target %}
   
			{% endwith %}
		{% endif %}

	</div>
	<div class="info">
		<p><span class="date">{{ action.created|timesince }} ago</span><br />
		<a href="{{ user.get_absolute_url }}">{{ user.first_name }}</a>
		{{ action.verb }}
		{% if action.target %}
		    {% with target=action.target %}
				<a href="">{{ target }}</a>
			{% endwith %}
		{% endif %}
		</p>
	</div>
</div>
{% endwith %}
