{% extends 'hortihome/base.html' %}
{% block title %}{{ post.post_body }}{% endblock %}

{% block body %}
<div class="container">
	<div class="card">
		{% csrf_token %}
		{{ post.post_body }}
		{% if post.image %}
		<img src="{{  post.image.url }}"/>
		{% endif %}
		<span class="count text-center">
	 	<span class="total">{{ total_views }}</span>
	 		view{{ total_views|pluralize }}
		</span>
		<a class="button" data-href="{{ post.get_absolute_url }}">
			<button>Like</button>
			Likes: <span id="likes">{{ post.likes.count }}</span>
		</a>
		
	</div>
</div>


{% endblock %}

{% block domready %}
$(document).ready(function() {
  $("button").click(function(e) {
    e.preventDefault();
    var this_ = $(this)
    var likeUrl = this_.attr("data-href")
    var csrftoken = getCookie('csrftoken');

    $.ajax({
      headers: {
        "X-CSRFToken": csrftoken
      },
      url: likeUrl,
      method: "POST",
      data: {},
      success: function(result) {
        console.log('success');
        if (result.liked) {
          var likes = result["likes"]
          document.getElementById("likes").innerHTML = likes;
          this_.html("Unlike")
        } else {
          var likes = result["likes"]
          document.getElementById("likes").innerHTML = likes;
          this_.html("Like")
        }
      },
      error: function(result) {
        console.log('error');
      }
    });
  });
});


{% endblock %}