{% extends 'hortihome/base.html' %}
{% load widget_tweaks %}

{% block title %}{{ post.post_body }}{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-7">
			<div class="card mx-auto">
				{% csrf_token %}
				{{ post.post_body }}
				{% if post.image %}
				<img src="{{  post.image.url }}"/>
				{% endif %}
				
				<div class="post-footer">
				<div class=" card-block">
					<div class="row countline">
						<div class="col-sm-3 col-md-4">
							<span class="text-center count float-left">
								Likes: <span id="likes">{{ post.likes.count }}</span>
							</span>
						</div>
						<div class="col-sm-3 col-md-4 text-center" >
							<span class="text-center count ">
								Comment{{ post.comments.count |pluralize }}:
								<span>{{ post.comments.count }}</span>
							</span>
						</div>
						<div class="col-sm-3 col-md-4">
							<span class="text-center count float-right">
								View{{ total_views|pluralize }}:
								<span>{{ total_views }}</span>
							</span>
						</div>
					</div>
				</div>
					<a class="button" data-href="{{ post.get_absolute_url }}">
						<div>
							{% if request.user not in post.likes.all %}
							<button class=" btn btn-default fas fa-heart heart">Like</button>
							{% else %}
							<button class=" btn btn-default fas fa-heart heart">UnLike</button>
							{% endif %}
						</div>
					</a>
				</div>
			</div>
			<div class="card mx-auto">
				<p>Comments</p>
				<!-- Comments Form LEAVE A COMMENT -->
				<form method="post" action="" enctype='multipart/form-data'>
					{% csrf_token %}
					<!--{{ form_comment}}-->
					{% include 'feed/form-template.html' %}
					<input type='submit' value='Post comment' class='btn btn-default float-right'>
				</form>
				
				{% for comment in post.comments %}
				<div class="media">
					<section>
						<blockquote>
							<div class="media-body">
								<p class="mt-0">{{ comment.content }}</p>
								<footer class="blockquote-footer">{{ comment.user }} | {{ comment.timestamp|timesince }} ago | {{comment.children.count }} repl{{ comment.children.count|pluralize:"y,ies" }}: | <a
											class='comment-reply-btn' href=''>Thread</a> | <a class='comment-reply-btn' href='#'>Reply</a>
								</footer>
								<div class='comment-reply' style="display:none;">
									{% for child_comment in comment.children %}
									<blockquote>
										<!--<div class="media  mt-{{ forloop.counter|add:'2' }}">-->
										<!--<a class="pr-{{ forloop.counter|add:'2' }}" href="#">-->
										<div class="media  mt-3">
											<a class="pr-3">
											</a>
											<div class="media-body">
												<p>{{ child_comment.content }}</p>
												<footer class="blockquote-footer"> {{ child_comment.user }} | {{
													child_comment.timestamp|timesince}} ago
												</footer>
											</div>
										</div>
									</blockquote>
									{% endfor %}
									
									<form method="post" action="" enctype='multipart/form-data'>
										{% csrf_token %}
										<!--{{ form_comment }}-->
										{% include 'feed/form-template.html' %}
										<input type='hidden' name='parent_id' value='{{ comment.pk }}'>
										<input type='submit' value='Reply' class='btn btn-default float-right'>
									</form>
								</div>
								<hr/>
							</div>
						</blockquote>
					</section>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block domready %}
$(document).ready(function() {
  $("button").click(function(e) {
    e.preventDefault();
    var this_ = $(this)
    var likeUrl = this_.attr("data-href")
    var csrftoken = getCookie('csrftoken');

    $.ajax({
      headers: {
        "X-CSRFToken": csrftoken
      },
      url: likeUrl,
      method: "POST",
      data: {},
      success: function(result) {
        console.log('success');
        if (result.liked) {
          var likes = result["likes"]
          document.getElementById("likes").innerHTML = likes;
          this_.html("Unlike")
        } else {
          var likes = result["likes"]
          document.getElementById("likes").innerHTML = likes;
          this_.html("Like")
        }
      },
      error: function(result) {
        console.log('error');
      }
    });
  });

$(".comment-reply-btn").click(function(event){
        event.preventDefault();
        $(this).parent().next(".comment-reply").fadeToggle();
    })
});

{% endblock %}
